<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>187197136278-l0loat4qotpdl3nuh73lp06pknl1scq5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.187197136278-l0loat4qotpdl3nuh73lp06pknl1scq5</string>
	<key>API_KEY</key>
	<string>AIzaSyBQkiyHXdW6RwpC2hmmcEe1t7MMoGt-Zto</string>
	<key>GCM_SENDER_ID</key>
	<string>187197136278</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Miller.YOUP</string>
	<key>PROJECT_ID</key>
	<string>youp-6b478</string>
	<key>STORAGE_BUCKET</key>
	<string>youp-6b478.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:187197136278:ios:557563801de1eedef3d1b7</string>
	<key>DATABASE_URL</key>
	<string>https://youp-6b478-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>